<!-- home.component.html -->
<div class="home-container">
    <h2>Home Page</h2>
    <div class="options-container">
      <button (click)="navigateToTranslation('Java Code Translation')">Java Code Translation</button>
      <button (click)="navigateToTranslation('Prompt Engineering')">Prompt Engineering</button>
      <button (click)="navigateToTranslation('Software System Reconstruction')">Software System Reconstruction</button>
      <button (click)="navigateToTranslation('Reconstruction Analytics')">Reconstruction Analytics</button>
      <button (click)="navigateToTranslation('Repository Translation')">Repository Translation</button>
      <button (click)="navigateToTranslation('Package Info')">Package Info</button>
    </div>
  </div>
  